.footer {
  width: 1300px;
  margin: 0 auto;
}

.logo-letter {
  font-size: 30px;
}

.info {
  margin-top: 10px;
  color: #8a919f;
}

.title {
  font-size: 18px;
  margin-bottom: 10px;
}

.about {
  a { 
    line-height: 25px;
    font-size: 14px;
    text-decoration: none;
    color: var(--text2);
  }

  img {
    width: 100px;
    text-align: center;
  }
}
