
.header-content {
  width: 80%;
  display: flex;
  justify-content: space-between;

  .menu-panel {
    font-size: 30px;
    display: block;
    margin-right: 5px;
  }

  .user-info-panel {
    display: flex;
    align-items: center;
    .search-btn {
      margin: 0 5px;
    }
  }
}

.notification {
  font-size: 20px;
  padding: 5px;
  color: #ccc;
}

.avatar {
  margin-left: 10px;
}
.message-content {
  display: flex;
  flex-direction: column;
  cursor: pointer;

  nz-badge {
    padding: 5px;
  }
}

.menu {
  li {
    padding: 10px 10px;
  }
  // padding: 20px 5px;
}

header {
  width: 1300px;
  margin: 0 auto;
}
